#Content0_0 .ant-col > .content0-block-item > .l9wv9tk9sir-editor_css {
  width: 300px;
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .lai6bgx0ao-editor_css {
  display: none;
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .lai6c35p1h-editor_css {
  display: none;
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .lai6c6373pu-editor_css {
  display: none;
}
#Banner1_0 .banner-anim > .banner-anim-elem > .lai6c9kkhad-editor_css {
  background-image: url(https://cdn.staticaly.com/gh/powerli2002/project-img@main/QQ图片20221115190757.1ixgvuu7oygw.webp);
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .lai6cb3imwk-editor_css {
  background-clip: padding-box;
}
#Banner1_0 .banner-anim > .banner-anim-elem > .lai6dd265p-editor_css {
  background-image: url(https://cdn.staticaly.com/gh/powerli2002/project-img@main/QQ图片20221115190749.3zbq6f612cs0.webp);
}
#Banner1_0 .banner-anim > .banner-anim-elem > .lai6bzmc0nf-editor_css {
  background-image: url(https://cdn.staticaly.com/gh/powerli2002/project-img@main/QQ图片20221115190801.1dmn8xqwm8rk.webp);
}
#Banner0_0 .banner0-text-wrapper > .lai3r05z39p-editor_css {
  color: #fbfbfb;
}
#Banner0_0 .banner0-text-wrapper > .lai3rp05m4-editor_css {
  color: #fbfbfb;
}
#Banner0_0.lai3rcft76i-editor_css {
  background-image: url(https://cdn.staticaly.com/gh/powerli2002/project-img@main/303246822.6alnsa7xl2s0.webp);
}
